*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 4px solid red;
}

.App-header h1 {
  color: red;
}

.App-body {
  padding-left: 3rem;
  padding-top: 3rem;
}

.App-footer p {
  text-align: center;
}

.App-footer {
  border-top: 4px solid red;
  padding-top: 1rem;
}